<div class="tabs">
  <a class="tab {% if slug == 'services' %}active{% endif %}" href="/settings/services">Services</a>
  <a class="tab {% if slug == 'simulates' %}active{% endif %}" href="/settings/simulates">Simulate Types</a>
  <a class="tab {% if slug == 'test-types' %}active{% endif %}" href="/settings/test-types">Test Types</a>
  <a class="tab {% if slug == 'test-priorities' %}active{% endif %}" href="/settings/test-priorities">Test Priorities</a>
  <a class="tab {% if slug == 'users' %}active{% endif %}" href="/settings/users">Users</a>
  <a class="tab {% if slug == 'labels' %}active{% endif %}" href="/settings/labels">Labels</a>
</div>
